@use "../base/vars" as *;

.header {
  background: $primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  min-height: 55px;
  padding-top: 2px;
  border-bottom: 1px solid rgba(#fff, 0.05);

  @include mq(md) {
    height: 55px;
  }
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 0 1em;

  &-logo,
  &-logo-wrap {
    display: flex;
    align-items: center;
  }

  &-logo-wrap {
    @include mq(sm) {
      width: 17vw;
      min-width: 230px;
      margin-left: 5px;
    }

    img {
      margin-left: 0.5em;
      margin-right: 1em;
    }

    h1 {
      font-size: 1.3em;
      font-weight: 500;
      margin: 0;
    }
  }

  .MuiIconButton-root {
    color: #fff;
  }

  .MuiButton-root {
    color: #ffffff;
    text-transform: capitalize;
  }

  .MuiButton-outlinedSizeSmall {
    border-color: #ffffff;
  }
}

.topbar-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include mq(lg) {
    width: 100%;
  }

  .user {
    display: none;

    @include mq(md) {
      margin-right: 1em;
      display: inline-block;
    }
  }

  .square {
    display: inline-block;
    background: $red;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 0.75em;
  }
}

// SearchBar
.search {
  background: $primary;
  overflow: hidden;
  position: relative;
  padding: 1em;

  @include mq(sm) {
    padding: 0;
    padding-right: 15px;
    width: 50vw;
  }

  @include mq(md) {
    width: 25.5vw;
  }

  .MuiInputBase-root {
    color: #fff;
    background: rgba(#fff, 0.1);
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    padding-right: 2.5em;
  }

  .MuiIconButton-root {
    color: #fff;
    width: 60px;
    position: absolute;
    right: 0;
    top: 6px;

    @include mq(sm) {
      top: -6px;
    }
  }
}